@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.switch {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 64, 67);
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mic-on,
.mic-off {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.mic-on {
  z-index: 4;
}

.mic-off {
  position: absolute;
  inset: 0;
  z-index: 5;
  opacity: 0;
}

.switch:hover {
  background-color: rgba(60, 64, 67, 0.8);
}

#checkbox {
  display: none;
}

#checkbox:checked + .switch {
  background-color: red;
}

#checkbox:checked + .switch .mic-off {
  opacity: 1;
}

#checkbox:active + .switch {
  scale: 1.2;
}





.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}

/* Custom scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thumb-blue-500::-webkit-scrollbar-thumb {
  background-color: rgb(201,225,254);
  border-radius: 3px;
}

.scrollbar-track-blue-100::-webkit-scrollbar-track {
  background-color: rgb(201,225,254);
}

.hover\:scrollbar-thumb-blue-700:hover::-webkit-scrollbar-thumb {
  background-color: rgb(178, 205, 239);
}

.sidebar-icon {
  @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto 
  bg-gray-800 text-green-500 hover:bg-green-600 hover:text-white
  rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear
  cursor-pointer shadow-lg;
}

.sidebar-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max bottom-full left-1/2 transform -translate-x-1/2
  rounded-md shadow-md text-white bg-gray-900 
  text-xs font-bold transition-all duration-100 scale-0 origin-bottom;
}

.sidebar-icon:hover .sidebar-tooltip {
  @apply scale-100;
}


.toolbar button {
  padding: 5px 10px;
  cursor: pointer;
}

.toolbar button.active {
  background-color: #ddd;
}

.cursor {
  pointer-events: none;
  z-index: 1000;
}